@{
	ViewBag.Title = "Home Admin";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
	<meta charset="utf-8" />
	<title>Inicio</title>

</head>
<div class="container">
	<h1>Bienvenido </h1>
	<br />
	<h1>@ViewBag.nombre </h1>
</div>